{% extends 'base.sh.j2' %}
{% block content %}


{% block shebang %}{% endblock %}

{% block shell_flags %}{% endblock %}

{% block network_wait %}{% endblock %}

{% block update_ringgem %}{% endblock %}

{% block package_manager_refresh %}
{% endblock %}

{% block install_reggem_dependencies %}
{% endblock %}

{% endblock %}
